In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/KevinBu/Desktop/Clemente Lab/CUtIe/data/nat_cutie/11757_prep_4737_qiime_20180911-092944.txt',
                sep = '\t')

In [5]:
df.head()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,dna_extraction_date,forward_barcode,forward_primer,linkerprimersequence,pcr_circle,pcr_machine,reverse_barcode,...,t1dm,t2dm,tcho,tg,ua,vegetables,waist,weight,yellow_rice_wine,Description
0,11757.G440981189,AGGTATCTCAGATTGCCA,XXQIITAXX,2016.04.11,AGGTATCTC,GTGTGYCAGCMGCCGCGGTAA,ATGC,30,ABI.2,AGATTGCCA,...,n,n,6.265,1.465,288.20,146000.0,94.00,58.7,0.0,None
1,11757.G440981188,AGCTCAATTAGATTGCCA,XXQIITAXX,2016.04.11,AGCTCAATT,GTGTGYCAGCMGCCGCGGTAA,ATGC,30,ABI.2,AGATTGCCA,...,n,n,5.180,0.490,297.20,182500.0,73.00,50.4,0.0,None
2,11757.G441802335,TCTACAGTTTACCGGTCG,XXQIITAXX,2016.04.25,TCTACAGTT,GTGTGYCAGCMGCCGCGGTAA,ATGC,30,Bioneer,TACCGGTCG,...,n,n,5.295,1.115,413.40,182500.0,69.85,47.6,0.0,None
3,11757.G440606309,TTCTTCTAGATACCGGTT,XXQIITAXX,2016.03.01,TTCTTCTAG,GTGTGYCAGCMGCCGCGGTAA,ATGC,30,ABI.2,ATACCGGTT,...,n,n,4.825,0.775,482.65,219000.0,90.20,74.9,0.0,None
4,11757.G440606308,TTAGGAGTAATACCGGTT,XXQIITAXX,2016.03.01,TTAGGAGTA,GTGTGYCAGCMGCCGCGGTAA,ATGC,30,ABI.2,ATACCGGTT,...,n,n,5.215,1.185,315.55,73000.0,65.30,47.0,0.0,None

In [6]:
import numpy as np

In [10]:
df = df.set_index('#SampleID')
df = df.select_dtypes(include=[np.number])
df = df.reset_index()
df = df.drop(columns=['pcr_circle', 'qiita_prep_id'])
df.head()

,#SampleID,age,aginomoto,animal_oil,beer,bmi,bristol_stool_type,constipation_days,dbp,diarrhea_days,...,soy_sauce,static_time,sugar,tcho,tg,ua,vegetables,waist,weight,yellow_rice_wine
0,11757.G440981189,61,0.0,0.0,0.0,24.8,4.0,0.0,83.0,0.0,...,150.0,180.0,0.0,6.265,1.465,288.20,146000.0,94.00,58.7,0.0
1,11757.G440981188,69,0.0,0.0,0.0,19.2,2.0,0.0,63.0,0.0,...,150.0,360.0,0.0,5.180,0.490,297.20,182500.0,73.00,50.4,0.0
2,11757.G441802335,35,0.0,0.0,0.0,21.7,3.0,0.0,82.0,0.0,...,125.0,240.0,0.0,5.295,1.115,413.40,182500.0,69.85,47.6,0.0
3,11757.G440606309,46,0.0,0.0,21600.0,27.2,4.0,0.0,114.0,0.0,...,80.0,180.0,140.0,4.825,0.775,482.65,219000.0,90.20,74.9,0.0
4,11757.G440606308,27,0.0,0.0,0.0,16.9,4.0,0.0,77.0,0.0,...,200.0,660.0,600.0,5.215,1.185,315.55,73000.0,65.30,47.0,0.0

In [13]:
df.head()
df.to_csv('nat_gi_metadata.txt', sep = '\t')

In [15]:
df['#SampleID'].values

array(['11757.G440981189', '11757.G440981188', '11757.G441802335', ...,
       '11757.G441424548', '11757.G441424549', '11757.G445224338'], dtype=object)

In [3]:
import pandas as pd
df_meta = pd.read_csv('data/lung_pt/Mapping.Pneumotype.Multiomics.RL.NYU.w_metabolites.w_inflamm.txt',
                     sep = '\t')
df_otu = pd.read_csv('data/lung_pt/otu_table_MultiO_merged___L6.txt',
                    sep = '\t', skiprows = 1)

In [6]:
df_meta.head()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Neg_Controls,AmpliconBands,Subject_ID,paper ID,Site,SampleType,Sample_Type_F,...,TGF_alpha,TNF_alpha,TNF_beta,VEGF,Macs_Tot,Lymphs_Tot,Neut_Tot,Eos_Total,BALPHA_IL17_Total_C1,Description
0,100716FG.C.1.RL,CTGGTGCTGAAT,CCGGACTACHVGGGTWTCTAAT,0,1,100716FG.C,SC08,NYU,RL,BAL,...,0.54340,0.1422,0.00580,6.62560,75.0,23.0,1.0,1.0,NaN,NYU
1,100804MB.C.1.RL,GTGACGTTAGTC,CCGGACTACHVGGGTWTCTAAT,0,1,100804MB.C,SC12,NYU,RL,BAL,...,0.29653,0.0932,0.00387,27.75680,86.0,8.0,5.0,1.0,NaN,NYU
2,100907LG.C.1.RL,GACTCAACCAGT,CCGGACTACHVGGGTWTCTAAT,0,1,100907LG.C,SC11,NYU,RL,BAL,...,0.06400,0.0808,0.00580,2.89020,92.0,7.0,1.0,0.0,1.17,NYU
3,101007PC.C.1.RL,GTGGCCTACTAC,CCGGACTACHVGGGTWTCTAAT,0,1,101007PC.C,SC18,NYU,RL,BAL,...,0.74827,0.0692,0.00667,49.22427,91.0,4.0,4.0,0.0,3.32,NYU
4,101018WG.N.1.RL,GACAGAGGTGCA,CCGGACTACHVGGGTWTCTAAT,0,1,101018WG.N,NSC09,NYU,RL,BAL,...,0.61387,0.2588,0.00387,48.39147,86.0,12.0,2.0,0.0,5.73,NYU

In [7]:
df_otu.head()

,#OTU ID,101019AB.N.1.RL,110228CJ.N.1.RL,110314CS.N.1.RL,110502BC.N.1.RL,110808JB.N.1.RL,101018WG.N.1.RL,101109JD.N.1.RL,101206DM.N.1.RL,100907LG.C.1.RL,...,111115WK.C.1.RL,100804MB.C.1.RL,100716FG.C.1.RL,101007PC.C.1.RL,101026RM.C.1.RL,110222MG.C.1.RL,110330DS.C.1.RL,110406MB.C.1.RL,110420JR.C.1.RL,110523CB.C.1.RL
0,k__Archaea;p__Crenarchaeota;c__Thaumarchaeota;...,0.0,0.0,0.0,0.000000,0.008736,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,k__Archaea;p__Crenarchaeota;c__Thaumarchaeota;...,0.0,0.0,0.0,0.007955,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,k__Archaea;p__Crenarchaeota;c__Thaumarchaeota;...,0.0,0.0,0.0,0.000000,0.000276,0.0,0.0,0.000660,0.0,...,0.0,0.0,0.00075,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,k__Archaea;p__Crenarchaeota;c__Thaumarchaeota;...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.001601,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,k__Archaea;p__Euryarchaeota;c__Methanobacteria...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.002364,0.0,0.0,0.0,0.0,0.0